<div class="row">
  <div class="cadastroForm">
    <div class="col s12">
      <div *ngIf="erro" class="card-panel red accent-1">
        <strong>Ops!</strong> {{erro}}
      </div>
      <form #cadastro="ngForm" (submit)="cadastrar()">
        <div class="input-field col s12">
          <input type="text" id="nome" name="nome" class="autocomplete" [(ngModel)]="nome" required autocomplete="off">
          <label for="autocomplete-input">Nome</label>
        </div>
        <div class="input-field col s12">
          <input type="text" id="sobrenome" name="sobrenome" class="autocomplete" [(ngModel)]="sobrenome" required
            autocomplete="off">
          <label for="autocomplete-input">Sobrenome</label>
        </div>
        <div class="input-field col s12">
          <input type="text" id="email" name="email" class="autocomplete" [(ngModel)]="email" required autocomplete="off">
          <label for="autocomplete-input">Email</label>
        </div>
        <div class="input-field col s12">
          <input type="text" id="username" name="username" class="autocomplete" [(ngModel)]="username" required
            autocomplete="off">
          <label for="autocomplete-input">Usuario (O mesmo do GitLab))</label>
        </div>
        <div class="input-field col s12">
          <input type="password" id="senha" name="senha" class="autocomplete" [(ngModel)]="senha" required autocomplete="off">
          <label for="autocomplete-input">Senha</label>
        </div>
        <div class="input-field col s12">
          <input type="text" id="privatetoken" name="privatetoken" class="autocomplete" [(ngModel)]="privatetoken"
            required autocomplete="off">
          <label for="autocomplete-input">Private Token do GitLab</label>
        </div>
        <button type="submit" class="light-blue lighten-2 btn" [disabled]="!cadastro.valid"><b>Cadastrar</b></button>
      </form>
    </div>
  </div>
</div>