<div class="parallax-container">
  <div class="parallax"><img src="http://cdn.vs.com.br/webedia-temp/1537973863643-88d4f8gh64d8gh48dg.png"></div>
</div>

<div class="section white">
  <div class="row container">
    <ul class="collection">
      <li class="collection-item">
        <h3 class="header">O que é o GamIssue?</h3>
        <h5 class="header">Octalysis, Elementos de Jogos, Issues, GitLab e Devs!</h5>
        <p class="grey-text text-darken-3 lighten-3">
          Em poucas palavras o GamIssue é a gamificação da Issues de uma
          equipe de desenvolvimento.
        </p>
        <p class="grey-text text-darken-3 lighten-3">
          Mas, para tornar isso realidade foi necessario três contextos, sendo
          eles:<strong> A fabrica de software do CEULP/ULBRA, Gitlab e o Octalysis.</strong>
        </p>
        <p class="grey-text text-darken-3 lighten-3">A idéia principal desta gamificação é trazer elementos de jogos
          para melhorar a produtvidade de uma equipe de desenvolvimento. <br>
          Para isso foi usado elementos de jogos como: <strong>Experience Points, Níveis, Missões e Ranking.</strong></p>

      </li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="parallax-container">
    <div class="parallax"><img src="https://cdn-images-1.medium.com/max/1920/1*Jv6JN9x2m6MdJVCU1aLltQ.jpeg"></div>
  </div>
</div>
<div class="section white">
  <div class="row container">
    <ul class="collection">
      <li class="collection-item">
        <h3 class="header">Qual a mecanica do GamIssue?</h3>
        <h5 class="header">Adiquira missões, finalize elas, se torne o maior dev de todos os tempos!</h5>
        <p class="grey-text text-darken-3 lighten-3">No <strong>GamIssue</strong> você tem <strong>pontos de
            experiência(XP),
            níveis e missões</strong>. <br />Para conseguir XP e subir de nivel, você precisa finalizar as missões
          adquiridas, mas, para ficar melhor de entender vamos mostrar para você como se tornar o maior dev de todos os
          tempos em 5 etapas.</p>
        <ul class="collapsible">
          <li>
            <div class="collapsible-header">Primeira Etapa</div>
            <div class="collapsible-body">
              <span>
                Realize seu cadastro e faça login!<br />
                Primeiro faça seu cadastro, vá na parte superior da tela e clique em "Login", logo você vai ver onde se
                cadastrar, se ainda não viu, fica embaixo do botão "Entrar". <br />
                Para se cadastrar é preciso o Nome, Sobrenome, Email, Usuario, Senha e o Private Token do GitLab.<br />
                <h5>Importante</h5>
                Você <strong>deve</strong> utilizar o Usuario que você usa para logar no do GitLab!<br />
                Você <strong>deve</strong> gerar um token de acesso no GitLab. Para gerar esse token faça login no
                GitLab e vá nas configurações de sua conta, depois em "Tokens de acesso" no menu lateral da pagina do
                Gitlab. Essa é pagina de criação do token, basta seguir esses passos:
                <br /><strong>- Passo 1:</strong> Dê um nome (de sua preferência) para esse token!
                <br /><strong>- Passo 2:</strong> Escolha uma data de vencimento (31/12/2018), se não tiver data o
                token vai valer para sempre.
                <br /><strong>- Passo 3:</strong> Em "Scopes" clique em "api".
                <br /><strong>- Passo 4:</strong> Por fim em "Create personal access token"!
                <br />Agora o token já deve ter aparecido e você vai poder terminar seu cadastro!
                <br />Mas antes de se cadastrar, atualize sua foto do GitLab, pois ela será usada para indicar sua
                colocação no Ranking e no seu Perfil.
                <br />Agora com seus dados cadastrados, basta fazer login e seguir para a proxima etapa!
              </span>
            </div>
          </li>
          <li>

            <div class="collapsible-header">Segunda Etapa</div>
            <div class="collapsible-body">
              <span>
                Pegue uma Missão!
                <br />Veja como é simples. As missões serão todas as issues que você esta como <i><strong>Assignee</strong></i>
                ou responsável.
                <br />Basta seguir os seguintes passos:
                <br /><strong>- Passo 1:</strong> Clique em "Missões", no canto superior direito da tela.
                <br /><strong>- Passo 2:</strong> Escolha um Projeto e clique em "missões" para ver as missões <strong>disponíveis/abertas/finalizadas</strong>
                para aquele projeto.
                <br /><strong>- Passo 3:</strong> Você pode clicar em "Pegar Todas as Missões" para pegar todas as
                missões daquele projeto de uma vez, ou, clicar em "Pegar Missão" que ai pegaria apenas 1 por vez.
                <br />Apenas as issues com status <i><strong>Open</strong></i> vão aparecer.
                <br /><strong>Dica:</strong> Pegue todas as Missões antes de trabalhar nelas!
              </span>
            </div>
          </li>
          <li>
            <div class="collapsible-header">Terceira Etapa</div>
            <div class="collapsible-body">
              <span>
                Desenvolva!
                <br />Nesta etapa é necessario "apenas" isso. Desenvolva e feche as missões no GitLab.
                <h5>Importante</h5>
                Serão somadas apenas as missões que você esta como <i><strong>Assignee</strong></i>, não importa quem feche a missão.
              </span>
            </div>
          </li>
          <li>
            <div class="collapsible-header">Quarta Etapa</div>
            <div class="collapsible-body">
              <span>
                Finalize uma Missão!
                <br />Você pegou as missões, agora é a hora de finalizar! Para isso siga os seguintes passos:
                <br /><strong>- Passo 1:</strong> Escolha um Projeto e clique em "missões" para ver as missões <strong>disponíveis/abertas/finalizadas</strong>
                para aquele projeto.
                <br /><strong>- Passo 2:</strong> Você pode clicar em "Finalizar Todas as Missões" para finalizar todas
                as missões daquele projeto de uma vez, ou, clicar em "Finalizar Missão" dentro de "Missões em Aberto"
                que ai finalizaria apenas 1 por vez.
                <br /><strong>OBS:</strong> Cada missão vale 80 XP, porem, se finalizada depois da data prevista, esta
                missao vai vale apenas metade disso, ou seja, 40 XP.
              </span>
            </div>
          </li>
          <li>
            <div class="collapsible-header">Quinta Etapa</div>
            <div class="collapsible-body">
              <span>
                Verifique seu lugar no ranking!
                <br />Assim que as missões são finalizadas os pontos para cada uma são contados, e entra em ação o
                sistema de Ranking.
                <br />Rankings de:<strong>
                  <br />- Experiência
                  <br />- Missões Fechadas no Tempo Certo
                  <br />- Missões Fechadas
                  <br />- Missões Abertas!</strong>
              </span>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>