<div class="section">
  <ul class="collection with-header">
    <li class="collection-header">
      <h4>Ranking de Exp</h4>
    </li>
    <!-- {{users_xp[0].username}} -->
    <div *ngFor="let xp of users_xp">
      <li class="collection-item avatar">
        <img src="{{xp.url_imagem}}" alt="" class="circle">
        <span class="title">{{xp.user.first_name}} {{xp.user.last_name}}</span>
        <p>xp: {{xp.xp_total}}</p>
      </li>
    </div>
  </ul>

  <ul class="collection with-header">
    <li class="collection-header">
      <h4>Ranking de Missões Fechadas no Tempo Certo</h4>
    </li>
    <!-- {{users_xp[0].username}} -->
    <div *ngFor="let temp of users_temp">
      <li class="collection-item avatar">
        <img src="{{temp.url_imagem}}" alt="" class="circle">
        <span class="title">{{temp.user.first_name}} {{temp.user.last_name}}</span>
        <p>Nº Missões: {{temp.mr_nadata}}</p>
      </li>
    </div>
  </ul>

  <ul class="collection with-header">
    <li class="collection-header">
      <h4>Ranking de Missões Fechadas</h4>
    </li>
    <!-- {{users_xp[0].username}} -->
    <div *ngFor="let xp of users_mf">
      <li class="collection-item avatar">
        <img src="{{xp.url_imagem}}" alt="" class="circle">
        <span class="title">{{xp.user.first_name}} {{xp.user.last_name}}</span>
        <p>Nº Missões: {{xp.m_realizadas}}</p>
      </li>
    </div>
  </ul>

  <ul class="collection with-header">
    <li class="collection-header">
      <h4>Ranking de Missões Abertas</h4>
    </li>
    <!-- {{users_xp[0].username}} -->
    <div *ngFor="let xp of users_ma">
      <li class="collection-item avatar">
        <img src="{{xp.url_imagem}}" alt="" class="circle">
        <span class="title">{{xp.user.first_name}} {{xp.user.last_name}}</span>
        <p>Nº Missões: {{xp.m_adquiridas}}</p>
      </li>
    </div>
  </ul>
</div>